version: '3.7'

services:
  app:
    build:
      args:
        USERNAME: ${USERNAME:-docker}
        UID: ${USERNAME:-1000}
        GID: ${USERNAME:-1000}
  db:
    volumes:
      - ./data:/var/lib/mysql
  
