version: '3.7'

services:
  app:
    build:
      args:
        - USERNAME
        - UID
        - GID
        - NODE_VER
        - PHP_VER
        - YARN_VER
  db:
    build:
      args:
        MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD:-secret}
        MYSQL_DATABASE: ${MYSQL_DATABASE:-docker}
        MYSQL_USER: ${MYSQL_USER:-docker}
        MYSQL_PASSWORD: ${MYSQL_PASSWORD:-secret}
    volumes:
      - ./data:/var/lib/mysql
  
